button.chat-btn {
    position: absolute;
    bottom: 0px;
    border-radius: 0px;
    right: 0px;
}

.toasts-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;

}