.left-side.container-fluid {
    height: 100%;
    bottom: 0px;
    padding: 0px;
    position: relative;
}

.problem-desc {
    padding: 20px;
}

.run, .confused-btn, .resolve-btn, .comment-btn {
    position: absolute;
    right: 20px;
    width: 50px;
}

.run {
    bottom: 20px;

}

.confused-btn {
    bottom: 80px;

}

.confused-marker {
    position: absolute;
    background-color: rgb(187, 76, 76);
    pointer-events: auto;
    width: 50px;
}

.confused-popover {
    padding: 10px;
}

.confused-input, .comment-input {
    display: flex;
}

.resolve-btn {
    bottom: 200px;
}

.comment-btn {
    bottom: 140px;
}

/* an override */
/*.ace_editor {
    font-family : monospace !important;
    font-size: 14px !important;
    direction:ltr !important;
    text-align:left !important;
}
*/