
.my-modal-footer.modal-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}

button.first-next-button {
    margin-left: auto;
}

button.finish-modal-button {
    white-space: nowrap;
}