.split-text-container > .rcw-widget-container {
    z-index: 10;
}

button.chat-btn {
    position: absolute;
    bottom: 0px;
    border-radius: 0px;
    right: 0px;
}

.meta-toast-container {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 20px;
    justify-content: flex-end;
    align-items: flex-end;

}

.toasts-container {
    /* position: absolute; */
    /* right: 20px;
    bottom: 20px; */
    /* display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end; */
    overflow: auto;
}

.fade-toasts {
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
    background: -webkit-linear-gradient(
        #292a2e 0%,
        #292a2e00 100%
    ); 
    background-image: -moz-linear-gradient(
        #292a2e 0%,
        #292a2e00 100%
    );
    background-image: -o-linear-gradient(
        #292a2e 0%,
        #292a2e00 100%
    );
    background-image: linear-gradient(
        #292a2e 0%,
        #292a2e00 100%
    );
    background-image: -ms-linear-gradient(
        #292a2e 0%,
        #292a2e00 100%
    );
}



.output-tag {
    position: absolute;
    top: 90px;
    right: 20px;
    border-radius: 2px;
    background-color: #797fb99c;
    padding: 10px;
    color: white;
}

.comments-switch-group {
    position: absolute;
    top: 90px;
    right: 20px;
    color: white;
}

.comments-switch, .Mui-checked + span.MuiSwitch-track.comments-switch-track {
    background-color: #007bff !important;
}

.copilot-toggle-msg {
    position: absolute;
    top: 80px;
    z-index: 7;
    max-width: max-content !important;
}